.odd {
    background-color: rgb(248, 158, 158);
    font-family: Verdana, 'DejaVu Sans', sans-serif
}

.adjust-font-size {
    font-size: 24px;
}
#two {
    color: #0000ff;
    font-size: 32px;
}

#four {
    background-color: hsl(120, 73%, 75%);
    font-weight: bold;
}